    :root {

      --tp-base-background-color: hsla(269.25, 93.75%, 40%, 0.5);
      --tp-container-background-color: hsla(269.25, 93.75%, 60%, 0.8);

      --tp-base-shadow-color: hsla(0, 0%, 0%, 0.1);

      --tp-button-background-color: hsla(269.25, 93.75%, 40%, 0.8);

      --tp-button-background-color-active: hsla(269.25, 93.75%, 43.75%, 0.5);

      --tp-button-background-color-focus: hsla(359, 6.25%, 6.25%, 0.5);

      --tp-button-background-color-hover: hsla(135, 100%, 44%, 0.5);

      --tp-button-foreground-color: hsla(230, 20%, 100%, 0.9);


      --tp-container-background-color-active: rgba(38, 38, 38, 0.20);
      --tp-container-background-color-focus: rgba(26, 26, 26, 0.20);
      --tp-container-background-color-hover: rgba(13, 13, 13, 0.20);

      --tp-container-foreground-color: hsla(135, 100%, 44%, 1.0);

      --tp-groove-foreground-color: hsla(135, 100%, 44%, 1.0);

      --tp-input-background-color: hsla(0, 0%, 0%, 0.50);
      --tp-input-background-color-active: hsla(0, 0%, 0%, 0.50);
      --tp-input-background-color-focus: hsla(0, 0%, 10%, 0.50);
      --tp-input-background-color-hover: hsla(135, 100%, 44%, 0.8);

      --tp-input-foreground-color: hsla(135, 100%, 44%, 1.0);

      --tp-label-foreground-color: hsla(0, 0%, 100%, 1.0);

      --tp-monitor-background-color: hsla(0, 0%, 0%, 0.50);

      --tp-monitor-foreground-color: hsla(0, 0%, 100%, 0.50);
    }

    html {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      background-color: color(srgb-linear 0.76815 0.92158 1 / 0.5);
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: color(srgb-linear 0 0 0 / 0);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
    }

    body {
      height: 100%;
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px;
      padding: 0px;
      font-family: "Pirulen";
      font-size: 100%;
      line-height: 1.2;
    }

    canvas.webgl {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100vw;
      height: 100vh;
    }

    #logo {
      z-index: 1010;
      width: 24%;
      padding: min(8px, 14px);
      margin: min(8px, 14px);
      pointer-events: none;
      background-color: color(srgb-linear 0 0 0);
      mix-blend-mode: difference;
    }


    .tp {
      z-index: 1000;
      display: flex;
      flex-flow: row nowrap;
      gap: 8px;
      position: absolute;
    }

    #debugger {
      right: 2%;
      top: 2%;
      max-width: 100%;
      mix-blend-mode: normal;
    }

    #kbllr {
      width: 60%;
      flex-flow: column nowrap;
      bottom: 2%;
      left: 2%;
    }

    .data-layout {
      background-color: "color(srgb-linear 1 1 1)";
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      display: grid;
      height: 100%;
      width: 100%;
      grid-template-columns: repeat(6, 1fr);
      overflow: hidden;
      pointer-events: none;

    }

    .column {
      font-family: monospace;
      font-size: larger;
      padding: 8px;
      overflow: hidden;
      border: 2px solid color(srgb-linear 0 0 0);
      height: 100%;
      color: color(srgb-linear 0 0 0);
      pointer-events: none;
      mix-blend-mode: difference;
    }